# --- Nix Specific ---
result
result-*
.direnv/
.venv/

# --- Editor Specific ---
.vscode/
.idea/
*.swp
*~
*.bak

# --- test and apps ---
test/
test/*
test*
test-*

# --- System/OS Noise ---
.DS_Store
Thumbs.db
lost+found/

# --- Secrets (Safety First) ---
# Even if you don't have these yet, it's good practice
*.pem
*.key
.env
